<div id="newEventFrm" style="display:none;">
	<div class="modal-header" id="hdr">New Event</div>
	<div>
		<form class="form-horizontal" id="newevent_frm">
			<input type="hidden" name="eventId" id="eventId" value="0"/>
		  <div class="control-group">
		    <label class="control-label" for="eventName">Event Name</label>
		    <div class="controls">
		      <input type="text" id="eventName" name="eventName" placeholder="">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="eventStart">Start Date</label>
		    <div class="controls">
		      <input type="text" id="eventStart" name="eventStart" placeholder="">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="eventEnd">End Date</label>
		    <div class="controls">
		      <input type="text" id="eventEnd" name="eventEnd" placeholder="">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="eventTime">Event Time</label>
		    <div class="controls">
		      <input type="text" id="eventTime" name="eventTime" placeholder="Ex 7:00am">
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="eventLocation">Event Location</label>
		    <div class="controls">
		      <input type="text" id="eventLocation" name="eventLocation" placeholder="Enter Address" onblur="codeAddress()">
		    </div>
		    <div class="controls" id="geo">
		      <input type="text" id="geoLat" name="geoLat" class="input-small">/<input type="text" id="geoLang" name="geoLang" class="input-small">
		    </div>
		    <br/>
		    <label class="control-label" for="eventLocation2">- OR - Trail</label>
		    <div class="controls">
		      <select name="eventTrail" id="eventTrail"></select>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="shortDesc">Short Desc</label>
		    <div class="controls">
		      <textarea id="shortDesc" name="shortDesc" cols="40" rows="4" class="span3"></textarea>
		    </div>
		  </div>
		  <div class="control-group">
		    <label class="control-label" for="homepage">Show On Home Page</label>
		    <div class="controls">
		      <select id="homepage" name="homepage"><option value="0">No</option><option value="1">Yes</option></select>
		    </div>
		  </div>
		 <div class="control-group">
		    <textarea class="jquery_ckeditor" cols="80" id="editor1" name="editor1" rows="10"></textarea>
		  </div>
		</form>
	</div>
	<div class="modal-footer">
    	<a href="#" id="saveEvent" class="btn btn-success">Save</a>
	</div>
</div>