body{
	background-color: rgba(255,255,255,0.5);
}

#cgmap {
	height: 400px;
}

#spmap {
	height: 700px;
}

#smallMap {
	height: 200px;	
}

.makehand {
	cursor:pointer;
}

#main_content{
	/* background-image: url(images/DORBAwhitebkgrnd.png); */
}
.cat {
	font-weight: bold;
	background-color: #1a25b2;
	color: white;
	font-size: medium;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.agegroup {
	font-weight: bold;
	background-color: #5dc5fc;
	color: white;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.rowLight {
	background-color: #e2e2e2;
	color: black;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.rowDark {
	background-color: #aaaaaa;
	color: black;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.points {
	background-color: #105aff;
	color: white;
	font-weight: bold;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: small;
}

.header {
	font-weight: bold;
	background-color: black;
	color: #c3c3c3;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.raceHeader {
	background-color: #ffa428;
	color: black;
	font-weight: bold;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.raceLight {
	background-color: #fff4c4;
	color: black;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.raceDark {
	background-color: #cfcfcf;
	color: black;
	font-size: small;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

.open {
	color: #4276f7;
}

.closed {
	color: red;
}

.sponsor {
	color: green;
}

/* Subnav */
.subnav {
  width: 100%;
  height: 36px;
  background-color: #eeeeee; /* Old browsers */
  background-repeat: repeat-x; /* Repeat the gradient */
  background-image: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%); /* FF3.6+ */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Chrome 10+,Safari 5.1+ */
  background-image: -ms-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* IE10+ */
  background-image: -o-linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* Opera 11.10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
  background-image: linear-gradient(top, #f5f5f5 0%,#eeeeee 100%); /* W3C */
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: #777;
  background-color: #e9e9e9;
  border-right-color: #ddd;
  border-left: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
     -moz-box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
          box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
	body {
	  padding-top: 60px !important;
  }
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
  }
}
img.fb{background:#999999;padding:2px;margin-right:2px;width:25px;height:25px}
@media (min-width: 480px){
	.subnav-fixed {
	    position: fixed;
	    top: 40px;
	    left: 0;
	    right: 0;
	    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
	    border-color: #d5d5d5;
	    border-width: 0 0 1px; /* drop the border on the fixed edges */
	    -webkit-border-radius: 0;
	       -moz-border-radius: 0;
	            border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	       -moz-box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	            box-shadow: inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1);
	    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false); /* IE6-9 */
	  }
	  .subnav-fixed .nav {
	    width: 438px;
	    margin: 0 auto;
	    padding: 0 1px;
	  }
	  .subnav .nav > li:first-child > a,
	  .subnav .nav > li:first-child > a:hover {
	    -webkit-border-radius: 0;
	       -moz-border-radius: 0;
	            border-radius: 0;
	  }
	  .hero-unit{
		  /* width:438px */;
	  }
}

@media (min-width: 980px){
	body {
	  padding-top: 60px !important;
  }

}

@media (max-width: 980px) {
  /* Unfloat brand */
    body {
	  padding-top: 60px !important;
  }

  body > .navbar-fixed-top .brand {
    float: left;
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (min-width: 768px) and (max-width: 980px) {
  /* Remove any padding from the body */
  body {
    padding-top: 60px !important;
  }
}

@media (max-width:480){
	body { 
		padding-top: 0px !important;
	}
}

@media (max-width: 767px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0px !important;
  }
}

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}
